

{% load leaflet_tags %}
<html>
  <head>
  	{% load static %}
    {% leaflet_js %}
    {% leaflet_css %}
	<title>GeoDjango</title>
	<style type="text/css">
		#gis {width:80%; height:600px}
	</style>
	<script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>

  </head>
  <body>
    <h1>Temperature and Humidity info on Map</h1>
    <h5>Please tap on location symbols on below map to know temperature and humidity of a particular place</h5>
    <div>
		<form action="/update-data-on-map" method="post">
			{% csrf_token %}
			<div>
   			 	<label for="city">Enter city/state/country to mark/delete location on below Map: </label>
    		 	<input id="city" type="text" name="city" value="">
    		 	<input type="submit" name="add" value="ADD">
    		 	<input type="submit" name="delete" value="DELETE">
    		 </div>
		</form>
		<p style="color:red;">{{ message }}</p>
    </div>
	<script type="text/javascript">
		function out_layers(map,options){
			var datasets = new L.GeoJSON.AJAX("{% url 'weather_info:data' %}",{
				onEachFeature: function(feature,layer){
					temperature = feature.properties.temperature;
					temperature_in_celsius = (temperature-273.15).toFixed(2);
					layer.bindPopup("<b>"+feature.properties.name.toString()+"</b>"+'</br>'
							+"Temperature:"+temperature_in_celsius.toString()+"\u00B0C"+'</br>'
							+'Humidity:'+feature.properties.humidity.toString(),{ autoClose: false, closeOnClick: false });
				}
			});
			window.console.log(datasets)
			datasets.addTo(map);
		}
	</script>    

	{% leaflet_map "gis"  callback="window.out_layers" %}
  </body>
</html>

















